target/
build/
bin/
.gradle/
.gradle
obj/
.gradle
pom.xml.tag
*.tar
*.gfs.csv
pom.xml.releaseBackup
pom.xml.versionsBackup
gradle.properties
pom.xml.next
secret/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
runtime/
*.log
*.jks
.project
.settings/
*.keystore
junit-tools-generatedsrc/
.DS_Store
.idea/
dataTx-geode-extensions-core.iml
*.iml


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/components/gemfire-extenions-api/src/test/resources/jdbc_config_test.properties
